image:
    - Visual Studio 2015

environment:
  global:
    SRC_REV: 2062
    TRANS_REV: 361
    QTDIR: C:\Qt\5.10.1\msvc2015

version: $(src_rev).trans-rev$(trans_rev)-{build}

install:
  - set PATH=%QTDIR%\bin;%PATH%
  # - echo "Installing translate-toolkit..."
  # - pip install virtualenvwrapper-win
  # - mkvirtualenv ttk
  # - pip install translate-toolkit
  # - po2prop --version

build_script:
  - echo "Downloading translation tarball rev.%TRANS_REV%"
  - ps: (New-Object Net.WebClient).DownloadFile("https://bazaar.launchpad.net/~adamreichold/qpdfview/translations-export/tarball/$env:TRANS_REV", "$env:APPVEYOR_BUILD_FOLDER\translations.tar.gz")
  - 7z x translations.tar.gz
  - 7z x translations.tar
  - echo "Downloading qpdfview source tarball rev.%SRC_REV%"
  - ps: (New-Object Net.WebClient).DownloadFile("https://bazaar.launchpad.net/~adamreichold/qpdfview/trunk/tarball/$env:SRC_REV", "$env:APPVEYOR_BUILD_FOLDER\qpdfview.tar.gz")
  - 7z x qpdfview.tar.gz
  - 7z x qpdfview.tar
  - set HTML_TEMPLATE=~adamreichold\qpdfview\trunk\help\help.html
  - set PO_DIR=~adamreichold\qpdfview\translations-export
  - mkdir qpdfview-translations
  - mkdir qpdfview-translations\ts
  - mkdir qpdfview-translations\help
#############################

  - ps: (New-Object Net.WebClient).DownloadFile("https://github.com/mquinson/po4a/archive/v0.52.zip", "$env:APPVEYOR_BUILD_FOLDER\po4a.zip")
  - 7z x po4a.zip
  - dir
  - set PERLLIB=%APPVEYOR_BUILD_FOLDER%\po4a\lib %APPVEYOR_BUILD_FOLDER%\po4a\po4a-gettextize %PERLLIB%
#############################
  - for %%i in (%PO_DIR%\*) do lconvert -i %%i -o qpdfview-translations\ts\qpdfview_%%~ni.ts
  - for %%i in (%PO_DIR%\help) do po4a-translate -k 0 --format xhtml --master-charset utf-8 --localized-charset utf-8 --master %HTML_TEMPLATE% --po %%i --localized qpdfview-translations\help\help_%%~ni.html
#  - po2html -t %HTML_TEMPLATE% "%PO_DIR%\help" qpdfview-translations\help

after_build:
  - 7z a qpdfview-translation_qt_rev%SRC_REV%.%TRANS_REV%.zip qpdfview-translations

artifacts:
   - path: qpdfview-translation_qt_rev%SRC_REV%.%TRANS_REV%.zip
     name: QPDFView Translation Qt (rev %SRC_REV%.%TRANS_REV%)

init:
  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

# remote desktop connection on finish and block build to not destroy VM
on_finish:
  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
